body {
  background-image: url('../src/assets/mario.gif'); /* Replace with a cyberpunk-themed background */
  background-size: cover;
  background-position: center;
  font-family: 'Orbitron', sans-serif; /* A futuristic font */
  color: #fff;
  margin: 0;
  overflow-x: hidden; /* Hide horizontal overflow */
 
}

.CatList {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 20px;
  list-style-type: none;
  margin-top: 45px;
  padding: 0;
}

.CatList li {
  text-align: center;
}

.CategoryLink {
  text-decoration: none;
  color: #fff;
  transition: transform 0.2s;
  display: block;
  border: 2px solid #00ffcc; /* Cyan border for a futuristic feel */
  border-radius: 5px;
  overflow: hidden;
}

.CategoryLink:hover {
  transform: translateY(-5px);
  background-color: #004080; /* Darkened background color for contrast */
}

/* Update category colors to match the cyberpunk theme */
.LeagueCategory:hover,
.Overwatch2Category:hover,
.ValorantCategory:hover,
.YomiCategory:hover,
.ApexLegendsCategory:hover,
.TheFinalsCategory:hover,
.CounterStrike2Category:hover,
.MiscCategory:hover {
  background-color: #ff0066;
  color: #00ffcc;
}

.Category {
  padding: 10px;
}

.CategoryContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.Category img {
  max-width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.Category p {
  margin: 10px 0;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
  background-color: #000; /* Dark background color for text contrast */
  border-top: 1px solid #222; /* Dark border */
}

.Nav {
  background-color: #222; /* Dark background for the navigation bar */
  color: #00ffcc; /* Cyan text color */
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.NavList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavList li {
  margin-right: 20px;
}

.NavList a {
  text-decoration: none;
  color: #00ffcc; /* Cyan text color */
  font-weight: bold;
  transition: color 0.3s;
}

.NavList a:hover {
  color: #ff0066; /* Pinkish-purple color on hover */
}

* {
  cursor: url('../src/assets/mush.png'), auto !important;
}
