body{
  background-color: #302e2c;
  font-family: 'Oxygen', sans-serif

}
.CatList {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr)); /* Responsive grid */
  gap: 20px; /* Adjust the gap between items */
  list-style-type: none;
  margin-top: 45px; /* Add margin to the top to push the grid down */
  padding: 0;
}


.CatList li {
  text-align: center;

}

.CategoryLink {
  text-decoration: none;
  color: #000;
  transition: transform 0.2s; /* Add a smooth transform effect on hover */
  display: block;
  border: 2px solid #ffffff; /* Add a subtle border to each category */
  border-radius: 5px;
  overflow: hidden; /* Ensure images don't overflow the borders */
}

.CategoryLink:hover {
  transform: translateY(-5px); /* Move the category up slightly on hover */
}

/* Define a hover effect for the League category */
.LeagueCategory:hover {
  /* Add your hover styles here */
  background-color: #dfc070; /* Example background color */
  color: #c2c3be; /* Example text color */
}

/* Repeat the same pattern for other categories as needed */
.Overwatch2Category:hover {
  /* Hover styles for the Overwatch category */
  background-color: #7483ae;
  color: #FA9C1D;
}

.ValorantCategory:hover {
  /* Hover styles for the Valorant category */
  background-color: #fcbf6f;
  color: #7c6367;
}
.Rainbow6SiegeCategory:hover {
  /* Hover styles for the Valorant category */
  background-color:#BFBA9F;
  color: #8C8581;
}
.ApexLegendsCategory:hover {
  /* Hover styles for the Valorant category */
  background-color:#A4373D;
  color: #3A401A;
}

.BattleBitRemasteredCategory:hover {
  /* Hover styles for the Valorant category */
  background-color:#1c2125;
  color: #c8603b;
}
.CounterStrike2Category:hover {
  /* Hover styles for the Valorant category */
  background-color:#e28d2c;
  color: #402113;
}
.MiscCategory:hover {
  /* Hover styles for the Valorant category */
  background-color:#51515d;
  color: #000000;
}
/* Add hover styles for other categories as needed */

.Category {
  padding: 10px;
}

.CategoryContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.Category img {
  max-width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.Category p {
  margin: 10px 0;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
  background-color: #ffffff; /* Add a background color to <p> */
  border-top: 1px solid #e0e0e0; /* Add a subtle border to separate text and image */
}


.Nav {
  background-color: #333; /* Background color for the navigation bar */
  color: #fff; /* Text color */
  padding: 10px 20px; /* Add padding for spacing */
  position: fixed; /* Fixed position to keep it at the top */
  top: 0; /* Position at the top of the viewport */
  left: 0; /* Position at the left edge */
  right: 0; /* Position at the right edge */
  z-index: 1000; /* Ensure it's on top of other elements */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
}

.NavList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Use flexbox to horizontally align the navigation items */
  justify-content: space-between; /* Space items evenly */
  align-items: center; /* Center items vertically */
}

.NavList li {
  margin-right: 20px; /* Add margin between navigation items */
}

.NavList a {
  text-decoration: none;
  color: #fff; /* Text color for navigation links */
  font-weight: bold; /* Bold text */
  transition: color 0.3s; /* Smooth color transition on hover */
}

.NavList a:hover {
  color: #ffcc00; /* Change text color on hover */
}
