.Video-Container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust minmax width */
  gap: 20px;
  padding: 20px;
  justify-content: center; /* Center-align the grid content */
}
.card {

  padding: 20px;
  text-align: center;

}

.card video {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover; /* Ensure videos fill the container */
}

.card-title {
  font-size: 1.5rem; /* Slightly smaller font size */
  font-weight: bold;
  margin-top: 10px;
  color: #ffffff; /* Dark text color */
  text-transform: none; /* Remove uppercase */
  font-family: 'Oxygen', sans-serif; /* Use a custom font or web-safe font */
  text-shadow: none; /* Remove text shadow */
}

.card-text {
  font-size: 1rem; /* Smaller font size */
  color: #777; /* Lighter text color */
  background-color: transparent; /* Transparent background */
  padding: 10px;
  border-radius: 5px;
  font-family: 'Oxygen', sans-serif;
  text-shadow: none; /* Remove text shadow */
}