body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a; 
  color: #fff; 
  font-family: 'Arial', sans-serif;
}

.profile-container {
  max-width: 1500px; 
  margin: 50px auto;
  padding: 30px; 
  border: 3px solid #FFD700; 
  box-shadow: 0 0 90px rgba(75, 192, 192, 0.5);
  background-color: #333; 
  border-radius: 15px;
}

.profile-heading {
  font-size: 3rem;
  color: #FFD700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.user-details {
  margin-top: 30px;
}

.username {
  font-size: 2rem;
  font-weight: bold;
  color: #FF4500; 
  text-decoration: none;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: block;
  border: 5px solid #FFD700; 
}

.bio {
  font-size: 2rem;
  color: #A9A9A9; 
  text-align: center;
  margin-bottom: 30px;
}

.user-videos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 50px;

}

.video-card {
  position: relative;
  height: 300px; /* Adjust height as needed */
}


.video-card video {
  width: 100%;
  height: calc(100% - 40px); /* Adjust height to accommodate overlay */
  object-fit: cover;
  border-radius: 30px;
  transition: transform 0.3s ease-in-out;
}



.video-card:hover .overlay {
  opacity: 1;
}

.overlay-content {
  z-index: 1;
  text-align: center;
}

.video-title {
  font-size: 1.5rem; /* Adjust font size */
  font-weight: bold;
  color: #FFD700; 
  margin: 0;
}

.video-text {
  font-size: 1rem; /* Adjust font size */
  color: #FF4500;
  margin: 0;
}


.video-title:hover {
  color: #FFD700;
}

.video-text:hover {
  color: #A9A9A9;
}

.video-details {
  padding: 10px;
}
.video-Delete-Button {
  position: relative;
  bottom: 50px;
  background-color: #FFD700; 
  color: #333; 
  border: none; 
  padding: 5px 10px; 
  border-radius: 5px;
  font-size: 1.2rem; 
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: block;
  margin: 10px auto; /* Adjust margin as needed */
 
}

.video-Delete-Button:hover {
  background-color: #FFA500; 
}

.edit-button,
.save-profile-button,
.delete-button {
  background-color: #FFD700; 
  color: #333; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px;
  font-size: 1.2rem; 
  font-weight: bolder;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: block;
  margin: 10px auto; /* Adjust margin as needed */
  width: fit-content; /* Ensures the button only takes up as much space as needed */
}

.edit-button:hover,
.save-profile-button:hover,
.delete-button:hover {
  background-color: #FFA500; 
}


.bio-box,
.username-box {
  width: calc(100% - 20px); 
  padding: 10px; 
  border: 2px solid #FFD700; 
  background-color: #474747;
  border-radius: 5px; 
  font-size: 1rem; 
  margin-top: 10px;
  margin-left: 10px;
  color: white;
}
